/* Light and Bold with Utility */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.light {
    font-weight: 400;
    color: hsl(0, 0%, 59%);
}

.bold {
    font-weight: 700;
    font-size: 18px;
}

/* Body */
body {
    background-color: hsl(185, 75%, 39%);
    overflow: hidden;
    font-family: 'Kumbh Sans', sans-serif;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100vh;
}

/* Circles */

.circles img {
    position: absolute;
}

.ca {
    top: -550px;
    left: -350px;
}

.cb {
    right: -320px;
    bottom: -675px;
}

/* Card */

.card {
    width: 350px;
    background-color: aliceblue;
    border-radius: 20px;
    text-align: center;
    z-index: 1;
}

/* Top Image */

.top-section  .top-bg {
    width: 350px;
    height: 150px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* Profile */
.image-holder {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    border: 5px solid white;
    background-color: aliceblue;
    overflow: hidden;
    margin: -50px auto 30px auto;
}

.image-holder img {
    width: 100%;
    height: auto;
    display: block;
}

.info {
    padding: 0 20px 20px;
    border-bottom: hsl(0, 0%, 59%) solid 1px;
}

.info h2 {
    margin-bottom: 10px;
}

span {
    margin-left: 10px;
}

/* Socials */

.socials {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 22px 25px;
}

.socials div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.socials .bold {
    margin-bottom: 7px;
}

.socials .light {
    font-size: .7rem;
    letter-spacing: 1px;
}

/* Responsiveness */

@media(max-width: 768px) {
    .container {
        overflow: hidden;
    }

    .ca {
        top: -501px;
        left: -772px;
    }

    .cb {
        right: -753px;
        bottom: -572px;
    }
}

/* Attributions */
.attribution {
    position: absolute;
    bottom: 0;
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
